<h1>Carts#show</h1>

<table>
  <thead>
    <th>Name</th>
    <th>Price</th>
  </thead>
  <tbody>
    <% @cart.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
    <tr>
      <td>Total:</td>
      <td><%= @cart.total_amount %></td>
    </tr>
  </tbody>
</table>

<% if @cart.payment.blank? %>
  <%= form_for [@cart, Payment.new]  do |f| %>
    <%= f.submit "Pagar", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <p>Pagado :)</p>
<% end %>
